html {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url("https://jinster.github.io/tfm-randomizer/mars.jpg");
  object-fit: cover;
}
.App {
  text-align: center;
}

p {
  color: #FFF;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-button {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20vh;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.wrapper {
  margin-top: 25px;
  width: 100%;
}

.App-button button {
  background-color: #4CAF50;
  padding: 25px 42px;
  text-decoration: none;
  color: #FFF;
}

li {
  margin: 15px;
}

.randomize-screen {
   color: #FFF;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.award-milestone {
  box-sizing: border-box;
  border: 1px white solid;
  width: 33vw;
  height: 16.5vh;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  font-family: Monaco, Mono_space;
}

.award-milestone-secondary {
  @extend .award-milestone
}

.am-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description {
  display: block;
  font-size: 10px;
  padding: 0 2px;
}

.title {
  padding: 5px 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 13px;
  background-color: #000;
  font-weight: 800;
}

@media (min-width: 360px) {
  .award-milestone {
    margin-bottom: 10px;
  }
  .description{
    font-size: 12px;
  }
}
